<table class="table">

  <thead>
    <th>Organizador</th>
    <th>Formato</th>
    <th>Local</th>
    <th>Data e Hora</th>
    <th>Participantes</th>
    <th></th>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <th><%= interest.user.name %></th>
        <th><%= interest.format %></th>
        <th><%= interest.local %></th>
        <th><%= interest.datetime %></th>
        <th><%= interest.participants.count %></th>
        <th> 
            <% if interest.championship_id.present? %>
                <%= link_to championship_path(interest.championship_id), class: "btn btn-primary" do %>
                    <i class="fa fa-edit"></i> Gerenciar campeonato
                <% end %>
            <% else %>
                <%= link_to new_interest_championship_path(interest), class: "btn btn-success" do %>
                    <i class="glyphicon glyphicon-plus-sign"></i> Novo campeonato
                <% end %>
            <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>

</table>
