<table class="table">

  <thead>
    <th>Organizador</th>
    <th>Formato</th>
    <th>Local</th>
    <th>Data e Hora</th>
    <th>Participantes</th>
    <th></th>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <th><%= interest.user.name %></th>
        <th><%= interest.format %></th>
        <th><%= interest.local %></th>
        <th><%= interest.datetime %></th>
        <th><%= interest.participants.count %></th>
        <th> 
            <%= link_to new_championship_path, class: "btn btn-success" do %>
                <i class="glyphicon glyphicon-plus-sign"></i> Novo campeonato
            <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>

</table>
