<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= simple_form_for @interest do |f| %>

      <%= f.input :format, label: 'Formato' %>
      <%= f.input :local, label: 'Local' %>
      <%= f.input :datetime, label: 'Data e Hora' %>

      <%= f.submit :Salvar, class: 'btn btn-success pull-right'%>

    <% end %>
  </div>
</div>
