<!DOCTYPE html>
<html>
  <head>
    <title>Magic Making</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
  </head>
 <body>

    <div class="container">
      <% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
      <% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>

      <%= yield %>
      <!-- Codigo comentado porque aparece em todas as paginas
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
      -->

    </div><!-- /.container -->

  </body>
  </html>